html,
body {
    margin: 0;
    height: 100%;
}


/*********************************
 * LAYOUT
 *********************************/
#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

#sidebar a {
    display: block;
    /* color: black; */
    padding: 16px;
    text-decoration: none;
}

/* #sidebar a.active {
    background-color: #04AA6D;
    color: white;
} */

/* #sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
} */

#container {
    flex-grow: 1;
    position: relative;
}
/* #container {
    width: 100%;
    height: 100%;
} */

@media screen and (max-width: 700px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    #sidebar a {
        float: left;
    }

    #container {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    #sidebar a {
        text-align: center;
        float: none;
    }
}


/*********************************
 * PAGE ELEMENTS
 *********************************/
 .flat-button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: orange;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    cursor: pointer;
}

.flat-button:hover {
    background-color: gray;
}

a.flat-button {
    text-decoration: none;
}
